body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: LightCoral;
    padding: 10px;
    text-align: center;
}

main {
    background-color: LightGoldenRodYellow;
    padding: 20px;
    margin: 10px;
}

footer {
    background-color: LightSlateGray;
    padding: 10px;
    text-align: center;
    color: white;
}

a {
    color: green;
    text-decoration: none;
    transition: 5s 2s;
}

a:link {
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:visited {
    color: gray;
    text-decoration: none;
    font-style: italic;
    transition: color 0.3s ease;
}


a:hover {
    color: white;
    background-color: darkred;
    text-decoration: underline;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}


a:active {
    color: black;
    opacity: 0.3;
}